<h1 class="text-center">Festival Title Goes Here | <span><b>Date of Event</b></span></h1>

<div class="container">
  <!-- Entire stage timeline -->
  <div class="row">
    <div class="col-xs-10">


      <!--// left side bar for stage names //-->
      <div class="row">
        <div class="col-xs-1">
          <p style="top: 40px; right:10px; position: relative;">Coachella</p>
        </div>
        <span style="position:relative; right: 50px;">Event Start Time</span>
        <span style="position:relative; right: 35px;" class="pull-right">Event End Time</span>
        <div class="stage-row col-xs-10">
          <div class="hour-box col-xs-1" name="mrker1_12">
            <!-- Each Hour -->
            <div class="row">
            <!-- Every 5 minutes -->
              <div class="five-minute-box col-xs-7" style="padding-left: 0px; padding-right: 0px;" marker="1_7">
              <p class="artist-text text-center">Artist</p>
              </div>
              <div class="five-minute-box col-xs-3" style="padding-left: 0px; padding-right: 0px;" marker="7_10">
              </div>
              <div class="five-minute-box col-xs-2" style="padding-left: 0px; padding-right: 0px;" marker="11_12">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <button  style="position: relative;" class="btn btn-primary btn-xs glyphicon glyphicon-plus"></button>
          <br><br>
          <button  style="position: relative;" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></button>
        </div>
      </div>
    </div>




    <!--// Right sidebar //-->
    <div class="col-xs-2">
      <!-- Maybe make this a ui-view? So it hides until user clicks a button -->
      <h4 class="text-center">Inputs go here</h4>
        <form ng-submit="festCtrl.createFestival()" class="col-md-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="festCtrl.title" id="title" type="text" placeholder="This one shows">
          </div>
          <div class="form-group">
            <label for="stageName">stageName</label>
            <input ng-model="festCtrl.festival.stageName" id="title" type="text">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="festCtrl.name" id="name" type="text">
          </div>
          <div class="form-group">
            <label for="startTime">startTime</label>
            <input ng-model="festCtrl.startTime" id="endTime" type="date">
          </div>
          <div class="form-group">
            <label for="endTime">endTime</label>
            <input ng-model="festCtrl.endTime" id="srtTime" type="date">
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input ng-model="festCtrl.startDate" id="datee" type="date">
          </div>
          <div class="form-group">
            <label for="endDate">endDate</label>
            <input ng-model="festCtrl.endDate" id="dateee" type="date">
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-primary" type="submit" name="action">Save Festival</button>
          </div>
        </form>
    </div>
  </div>
</div>
