<!-- <h1 class="text-center">Festival Title Goes Here | <span><b>Date of Event</b></span></h1> -->
<div class="container">
  <div class="row">
    <div class="input-group-lg col-xs-3 col-xs-offset-3">
      <input ng-model="festCtrl.title" type="text" class="form-control" placeholder="Festival Name" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group-lg col-xs-offset-0 col-xs-3">
      <input ng-model="festCtrl.date" type="date" class="form-control">
    </div>
  </div>
</div>

<br>

<div class="container">
  <!-- Entire stage timeline -->
  <div class="row">
    <div class="col-xs-10">
      <div class="row">
        <!--// left side bar for stage names //-->
        <div class="no-padding col-xs-1 input-group-sm">
          <input ng-model="festCtrl.stageName" type="text" placeholder="Stage" class="form-control stage-name">
        </div>



<!--         <div class="no-padding form-group">
          <input ng-model="festCtrl.stageStartTime" type="date">
          <input ng-model="festCtrl.stageEndTime" type="date">
        </div> -->
<!--         <span style="position:relative; right: 50px;">Event Start Time</span>
        <span style="position:relative; right: 35px;" class="pull-right">Event End Time</span> -->


        <!-- Write a helper function where user inputs a number 0 - 24 that represents start and end times. Start and Finish. Then plug into and ng-repeat in array -->
        <span class="stage-times" ng-repeat="number in festCtrl.numbers track by $index">{{number}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>



        <div class="stage-row col-xs-10">
<!--           <div class="hour-box col-xs-1" name="mrker1_12">
            Each Hour
            <div class="row">
            Every 5 minutes
              <div class="five-minute-box col-xs-7" style="padding-left: 0px; padding-right: 0px;" marker="1_7">
              <p class="artist-text text-center">Artist</p>
              </div>
              <div class="five-minute-box col-xs-3" style="padding-left: 0px; padding-right: 0px;" marker="7_10">
              </div>
              <div class="five-minute-box col-xs-2" style="padding-left: 0px; padding-right: 0px;" marker="11_12">
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-xs-1">
          <button class="btn btn-primary btn-xs glyphicon glyphicon-plus"></button>
          <br><br>
          <button class="btn btn-danger btn-xs glyphicon glyphicon-remove"></button>
        </div>
      </div>
    </div>



    <!--// Right sidebar //-->
    <div class="col-xs-2">
      <!-- Maybe make this a ui-view? So it hides until user clicks a button -->

          <div class="form-group">
            <input ng-model="festCtrl.artistName" type="text" placeholder="Artist Name">
          </div>

          <div class="form-group">
            <label>Start Time</label>
            <input ng-model="festCtrl.actStartTime" type="date">
          </div>

          <div class="form-group">
            <label>End Time</label>
            <input ng-model="festCtrl.actEndTime" type="date">
          </div>


          <div class="text-center">
            <button class="btn btn-primary" type="submit" ng-click="festCtrl.createFestival(festCtrl.title, festCtrl.stageName, festCtrl.stageStartTime, festCtrl.stageEndTime, festCtrl.artistName, festCtrl.actStartTime, festCtrl.actEndTime)" name="action">Save Festival</button>
          </div>
    </div>
  </div>
  <!--// End of the row //-->
</div>
