<div id="fest-header-box">
  <div id="fest-header">
    <h1 class="fira-sans text-center">{{festCtrl.festival.title}}</h1>
    <h2 class="text-center">{{festCtrl.festival.date|date:'fullDate'}}</h2>
  </div>
  <div id="fest-inputs" class="container">
    <div class="text-center">
    <form>
      <label id="label" for="artistName">Event Name:
        <input id="artist-name" type="text" placeholder="Event Name" ng-model="festCtrl.artistName" required>
      </label>
      <label id="label" for="actStartTime">Start Time:
        <input id="act-start-time" type="time" name="time" ng-model="festCtrl.actStartTime" required />
      </label>
      <label id="label" for="actEndTime">End Time:
        <input id="act-end-time" type="time" name="time" ng-model="festCtrl.actEndTime" required/>
      </label>
    </form>
    </div>
  </div>
</div>

<div id="fest-stage-row" ng-repeat="stage in festCtrl.festival.stages track by $index">
  <div class="stage-name-row">
    <span class="stage-name">{{stage.stageName}}</span>
    <button class="btn btn-primary btn-xs" id="add-artist" ng-click="festCtrl.addAct(stage)">Add Event</button>
    <button ng-click="festCtrl.deleteStage(stage)" class="btn btn-danger btn-xs">Delete</button>
  </div>
  <!-- Entire stage timeline -->
  <div class="stage-times" ng-repeat="hour in festCtrl.timeline track by $index">{{hour}}</div>
  <div id="artist-box" class="divbutton" ng-style="festCtrl.bgColor" style="left: {{festCtrl.leftOffset(act.actStartTime)}}; width: {{festCtrl.actWidth(act)}};" ng-repeat="act in stage.acts track by $index">
    <div class="del-btn">
      <button ng-click="festCtrl.deleteAct(stage, act)" type="button" style="display: none;" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    </div>
    <h5 class="artist-text">{{act.artistName}}</h5>
    <p class="artist-text">{{festCtrl.formatTime(act.actStartTime)}} - {{festCtrl.formatTime(act.actEndTime)}}</p>
  </div>
  <div class="stage-row">
  </div>
</div>

<div class="add-stage">
  <button class="btn btn-sm btn-success" type="button" ng-click="festCtrl.addStage()">Add Timeline</button>
  <input type="text" id="stage-input" placeholder="Timeline Name" ng-model="festCtrl.stageName" required>
</div>
