<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Festival Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  </head>
  <body ng-controller="NavController as navCtrl">

    <% include nav %>

    <div ui-view></div>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services/token-service.js"></script>
    <script src="/javascripts/services/festival-service.js"></script>
    <script src="/javascripts/services/auth-interceptor.js"></script>
    <script src="/javascripts/services/user-service.js"></script>
    <script src="/javascripts/controllers/nav-controller.js"></script>
    <script src="/javascripts/controllers/user-controller.js"></script>
    <script src="/javascripts/controllers/festival-controller.js"></script>
    <script src="/javascripts/controllers/show-controller.js"></script>
    <script src="/javascripts/custom-input/dist/custom-input.js"></script>
    <script src="/javascripts/angular-datetime-input/dist/datetime.js"></script>
  </body>
</html>
