<div id="main-wrapper">
  <div class="main-header-box">
    <header class="header-text text-center">Plan out your day</header>
    <h4 class="header-text text-center">Decide which artist to see</h4>
  </div>
</div>
<div id="secondary-wrapper">
  <h5>About the Developers</h5>
  <hr width="500">
  <br>
  <p id="tester">Brian Francisco, Carlie Clippinger, Chris Baird and Holly Nguyen are students at General Assembly's Web Development Immersive. March 2017 OC cohort. Made with ♥ in California.</p>
  <br>
</div>
