<div class="main-wrapper" style="background-image: url(/images/home-BG.jpg);">
  <div class="main-header-box">
    <header class="header-text text-center">Plan out your <span class="app-title">festival</span></header>
    <h4 class="header-text text-center">Decide what to do, who to see and where to meet</h4>
    <br>
    <div class="text-center">
      <button ng-show="navCtrl.isLoggedIn()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create a festival</button>
      <a ng-show="!navCtrl.isLoggedIn()" ui-sref="login"><button class="btn btn-primary btn-lg">Create a festival</button></a>
    </div>
  </div>
</div>
<div id="secondary-wrapper">
  <h3 class="text-center">How To Festival:</h3>
  <div class="text-center">
    <p>Step 1: Create Festival</p>
    <p>Step 2: Create Timeline</p>
    <p>Step 3: Enter event with start and end time</p>
    <p>Step 4: Add to timeline</p>
    <p>Step 5: Party</p>
  </div>
</div>

<!-- Modal -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div ng-controller="FestivalController as vm" class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Festival</h4>
        </div>
        <div class="modal-body">
          <span for="title">Title:
            <input ng-model="vm.title" type="text" class="form-control" placeholder="Festival Name" aria-describedby="sizing-addon1">
          </span>
          <br>
          <span for="title">Date:
            <input ng-model="vm.date" type="date" class="form-control">
          </span>
        </div>
        <div class="modal-footer">
          <button ng-click="vm.createFestival(vm.title, vm.date)" class="btn btn-primary">Create Festival</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="welcome-footer" class="footer-nav">
  <div class="container-fluid">
    <p class="footer-position">© 2017 ibrianfrancisco. All Rights Reserved.</p>
  </div>
</footer>
