@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
}

header {
  font-size: 48px;
}

a {
  cursor: pointer;
}

.recently-added {
  background-color: rgb(66,66,73);
  position: relative;
  bottom: 39px;
}

.no-padding {
  padding: 0px;
}

.white-text {
  color: #fff;
}

.stage-row {
  border: 1px solid black;
  /*width: 100%;*/
  height: 60px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -3px;
}

.hour-box {
  border: 2px solid red;
  height: 60px;
/*  padding-left: 0px;
  padding-right: 0px;
*/}

.five-minute-box {
  border: 2px dashed blue;
  height: 60px;
/*  padding-left: 0px;
  padding-right: 0px;
*/}

.artist-text {
  font-size: 10px;
}

#festival-button {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  box-shadow: 2px 2px 5px #888888;
}

#main-wrapper {
  width: 100%;
  height: 650px;
  position: relative;
  left: 0px;
  top: -19px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .8;
  background-image: url(/images/homeBG.jpg);
}

#secondary-wrapper {
  width: 100%;
  height: 230px;
  text-align: center;
}

.main-header-box {
  width: 800px;
  height: 170px;
  padding: 20px;

  position: absolute;
  top: 40%;
  left: 50%;

  margin: -180px 0 0 -400px;
}

.header-text {
  color: #fff;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

.login {
  width: 50px;
  padding-top: 5px;
}

.sign-in {
  display: inline-block;
  color: black;
  vertical-align: top;
  padding-right: 5px;
}

.margin-zero {
  margin: 0 auto;
}

[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.put-something-here {
  width: 700px;
  text-align: center;
  height: 200px;
  margin: 0 auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
