@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/* =======================================================
*
*   Template Style
*
* ======================================================= */
body {
  font-family: 'Raleway', sans-serif;
}
#navbar {
  border: none;
  margin: 0;
}
.main-wrapper {
  position: relative;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .9;
}
.main-wrapper .main-header-box {
  position: relative;
  padding-top: 50px;
}
header {
  font-size: 58px;
}
.header-text {
  color: #fff;
  text-shadow: 2px 2px #000000;
}
@media screen and (max-width: 768px) {
  .main-wrapper .main-header-box header {
    font-size: 40px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-wrapper .main-header-box h4 {
    font-size: 15px;
  }
}

#secondary-wrapper {
  height: 200px;
}

.form-signin {
  width: 250px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  margin-bottom: 10px;
}

#label .form-control {
  padding: 5px 10px;
  width: 172px;
}

/*   Festival Time Sheet   */

#stage-input {
  /*padding: 5px 10px;*/
  width: 152px;
}
.stage-name {
  top: 10px;
  right: 10px;
  position: relative;
  font-size: 20px;
}

.stage-row {
  border: 1px solid black;
  width: 1072px;
  height: 58px;
  padding-left: 0px;
  padding-right: 0px;
  left: 0px;
  position: relative;
}

#add-artist {
  position: absolute;
  top: 15px;
}

.stage-time {
  width: 1132px;
}

.stage-times {
  position: relative;
  right: 53px;
  padding: 0 31px;
}

.hour-box {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.minute-box {
  height: 57px;
}

.artist-text {
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

#margin-fix {
  margin: 8px 0 10px 0;
}

#date-margin-fix {
  margin: 23px 0 0px 0;
}

.app-title {
  color: #DC381F;
}

/*   ---------------------    */

a {
  cursor: pointer;
}

#home-filter,
#fest-header,
.main-wrapper {
  padding-top: 50px;
}

.btn-test {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: .7s ease-out;
}
.btn-test:hover {
  background: #AF9272;
  border-color: #AF9272;
}
.btn-test:focus, .btn-test:active {
  background: transparent;
  border-color: #fff;
}

.fira-sans {
  font-family: 'Fira Sans', sans-serif;
}

.no-padding {
  padding: 0px;
}

.white-text {
  color: #fff;
}

#home-add-fest {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  box-shadow: 2px 2px 5px #888888;
}

.logo {
  width: 100px;
  padding-left: 20px;
}

.login {
  width: 50px;
  padding-top: 5px;
}

.sign-in {
  display: inline-block;
  color: black;
  vertical-align: top;
  padding-right: 5px;
}

.margin-zero {
  margin: 0 auto;
}

.dev-link {
  width: 80px;
  margin: 0 25px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .dev-link {
    width: 55px;
    margin: 0 20px;
    height: 55px;
  }
}

[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0px;
}

.footer-nav {
  background-color: rgb(235,235,235);
  position: relative;
  text-align: center;
  top: 29px;
  margin: 0 auto;
  height: 63px;
}
