/*nav {
  padding-top: 5px;
  background-color: transparent;
  box-shadow: none;
}*/

/*.nav>li {
    position: relative;
    display: block
}
*/
.logo {
  width: 100px;
  padding-left: 20px;
}

.login {
  width: 50px;
  padding-top: 5px;
}

.sign-in {
  display: inline-block;
  color: black;
  vertical-align: top;
  padding-right: 5px;
}

[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}
