<div class="recently-added">
  <br>
  <h1 class="white-text text-center">Recently Added</h1>
  <div class="white-text put-something-here"><p>Put Cards Here That Users can Copy over</p></div>
</div>
<h1 class="text-center">My Festivals</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4" ng-repeat="festival in festivals track by $index">
      <div class="thumbnail">
        <img src="/images/homeBG.jpg" alt="Festival Imgs">
        <div class="caption">
          <span ng-click="festCtrl.deleteFestival(festival)" class="btn btn-danger btn-xs pull-right">Delete</span>
          <h3>{{festival.title}}</h3>
          <p>{{festival.date|date:'fullDate'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container navbar-fixed-bottom">
  <footer>
    <div class="pull-right">
      <button id="festival-button" class="btn btn-danger" ng-click="festCtrl.goToFestival()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>
  </footer>
</div>
