<div id="home-filter" class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Festivals</h1>
    </div>
    <div class="col-md-3 navbar-form">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-click="vm.sortBy = 'title'; vm.descending = !vm.descending"><a>Name</a></li>
            <li ng-click="vm.sortBy = 'date'; vm.descending = !vm.descending"><a>Date</a></li>
          </ul>
        </div>
        <input type="text" ng-model="search" class="form-control" placeholder="Filter" aria-label="...">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4" ng-repeat="festival in festivals | filter: search | orderBy:vm.sortBy:!vm.descending track by $index">
      <div class="thumbnail">
        <img src="/images/homeBG.jpg" alt="Festival Imgs">
        <div class="caption">
          <button ng-click="festCtrl.deleteFestival(festival)" class="btn btn-danger btn-xs pull-right">Delete</button>
          <h3>{{festival.title}}</h3>
          <p>{{festival.date | date:'fullDate'}}</p>
          <span>
            <a ng-click="festCtrl.getFestival(festival._id)" role="button" class="btn btn-primary btn-sm">Show</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Festival</h4>
        </div>
        <div class="modal-body">
          <form>
            <span for="title">Title:
              <input ng-model="festCtrl.title" type="text" class="form-control" placeholder="Festival Name" aria-describedby="sizing-addon1" required autofocus>
            </span>
            <br>
            <span for="title">Date:
              <input ng-model="festCtrl.date" type="date" class="form-control" required>
            </span>
          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="festCtrl.createFestival(festCtrl.title, festCtrl.date)" class="btn btn-primary">Create Festival</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container">
  <div class="row">
    <button type="button" id="home-add-fest" class="btn btn-danger navbar-fixed-bottom col-xs-2 col-xs-offset-10" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</footer>

