<br><br>
<div class="container text-center">
  <header>Log In</header>
  <h4>Sign in to continue to Fest</h4>
  <div>
    <form ng-submit="userCtrl.login()">
      <br>
      <div class="form-group">
        <label for="email">Email:</label>
        <input ng-model="userCtrl.user.email" id="email" type="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="password" required>
      </div>
      <br>
      <button class="btn btn-success" type="submit" name="action">Log In</button>
    </form>
    <br>
    <a ui-sref="signup">Create account</a>
  </div>
</div>
