<header class="text-center">Account Settings</header>
<br>
<div class="col-sm-3 col-sm-offset-3">
  <h3>Main Info</h3>
  <div class="input-group col-lg-10">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" autocomplete="off" id="name" type="text" value="{{navCtrl.getUser().name}}" required>
      </div>
      <br><br>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" autocomplete="off" id="email" type="email" value="{{navCtrl.getUser().email}}" required>
      </div>
      <br><br>
      <button class="btn btn-primary">Submit Changes</button>
    </form>
  </div>
</div>

<div class="col-sm-6">
  <h3>Change Password</h3>
  <div class="input-group col-lg-5">
    <form class="col-sm-12">
      <div class="form-group">
        <label for="password">New Password</label>
        <input class="form-control" autocomplete="off" id="password" type="text" required>
      </div>
      <br><br>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input class="form-control" autocomplete="off" id="password" type="text" required>
      </div>
      <br><br>
      <button class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
